!!! 5
html
	head
		title ctlnode
		link(rel='stylesheet', href='/styles/defaults.css')
		!{css}
		!{js}
	body
		.page
			header
				a.brand(href='') ctlnode
			.content
				block content
			footer
				.lang-options
					span: a(href='?language=en') en
					span: a(href='?language=de') de
					span: a(href='?language=fr') fr
					span: a(href='?language=it') it
				.listinfo
					span.alias
						| #{list.alias}
					span.creationMoment
						| #{lingua.taskinfo.creationMoment} #{list.creationMoment}
					span.expireMoment
						| #{lingua.taskinfo.expireMoment} #{list.expireMoment}
					